@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Display', sans-serif; */

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

:root {
  --primary: #dc3545;
  --color2: #ffe9e9;
  --color3: #ff8d8d;

  --secondary: #001064;
  --light: #f6f7f8;
  --dark: #010a35;
}

.primary-c {
  color: var(--primary);
}

.light-c {
  color: #fff;
}

.dark-c {
  color: var(--dark);
}

.font-r {
  font-family: 'Red Hat Display', sans-serif;
}

.title3 {
  font-size: 16px;
  color: #474646;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

.subtile-2 {
  font-weight: 500;
  color: grey;
}

.custom-btn {
  color: var(--primary);
  font-weight: 500;
  border: 1px solid var(--primary);
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #dc3545;
  color: #fff;
}

/* ----- HEADER --------- */

.header {
  display: flex;
  align-items: center;
  font-family: 'Red Hat Display', sans-serif;

  .img {
    width: 140px;

    @media (max-width: 480px) {
      width: 100px;
    }
  }

  .header-shape {
    position: relative;
    background-color: var(--primary);
    padding: 20px;
    width: 100%;
    margin-left: 100px;
  }

  .header-shape::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-right: 88px solid #dc3545;
    border-top: 88px solid #ffffff;
  }

  @media (max-width: 844px) {
    .header-shape::before {
      border-top: 0;
    }
  }
}

@media (max-width: 480px) {
  .img-pos {
    margin: 0 !important;
    padding: 0 !important;
  }
}

/* ----- NAVBAR --------- */
.navbar {
  padding: 10px 0;
  z-index: 10;

  .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-inline: 8px;
  }

  .nav-link:hover {
    color: var(--primary);
  }
}

/* -------carousel ---------- */

.carousel {
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 1, 8, 0.5);

    .display-4 {
      color: var(--color2);
      font-weight: 700;
    }
  }

  .carousel-text {
    animation: low-high .8s ease-in-out;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 15%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--dark);
    border: 12px solid var(--dark);
    border-radius: 3rem;
  }



  @media (max-width: 768px) {
    #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
    }

    #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* ----- About --------- */

.section-about {
  position: relative;

  .about-text {
    animation: left-right-opacity 1s ease-in-out;
  }

  .title3 {
    color: #161616;
  }

}

/* ----- Service --------- */
.section-service {
  background: linear-gradient(#00000070, #00000082), url(assets/about.avif);
  background-size: cover;
  z-index: -12;
  background-attachment: fixed;

  .custom-card {
    max-width: 350px;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, #dc3545 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    height: 420px;
    z-index: 15;
    overflow: auto;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-name: left-right;
  }

  .card1 {
    animation-duration: 1s;
  }

  .card2 {
    animation-duration: .75s;
  }

  .card3 {
    animation-duration: .5s;
  }

  .card-title {
    text-transform: uppercase;
    color: var(--primary);
  }

  .fa-solid {
    border-radius: 10%;
    border: 3px solid #dc3545;
    padding: 25px;
    font-size: 40px;
  }

  .custom-card:hover {
    background-position: 0 100%;
    color: #ffffff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);

    .card-title {
      color: #fff;
    }

    .fa-solid {
      border: 3px solid #fff;
    }
  }
}

/** goruth sectiomn  */
.section-growth {


  .fa-solid {
    font-size: 25px;
  }

  .small-box {
    width: 233px;
    height: 100px;
    border-bottom: 1px solid #fff;
    padding: 10px;
    padding-left: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      margin-left: 1rem;
    }
  }

  .small-box-1 {
    border-right: 1px solid #fff;
  }

  .small-box-bottom {
    border-bottom: 0;
  }

  @media (max-width:480px) {
    .small-box {
      width: 150px;
    }

    .fa-solid {
      font-size: 15px;
    }
  }
}


/* ------------------PROJECT RECORD------------- */
.section4 {
  margin-top: 5rem;
  position: relative;



  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .p {
      text-align: justify;
    }

    .img-container {
      width: 420px;
      height: 500px;
      position: relative;
      overflow: hidden;

    }

    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* Maintain aspect ratio and cover the container */
      transition: transform 0.3s;
      /* Smooth transition */
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;

    }

    .img-container:hover {
      .overlay {
        background-color: rgb(255, 0, 0);
        opacity: 1;
      }

      .img {
        transform: scale(1.9);
      }
    }

    .overlay-text {
      color: white;
      font-size: 24px;
      font-weight: bold;
    }
  }



  .slide {
    animation: left-right 1s;
  }

  .card {
    animation-name: left-right;

  }

  .card:hover {
    transform: scale(1.02);
    transition: .5s ease-in-out;
  }

}

/* testimonial */
.testimonial-section {
  position: relative;

  .section-bg {
    background: linear-gradient(#23014fb2, #3c0000dc),
      url(https://img.freepik.com/free-photo/colleagues-with-safety-equipment-showing-ok-sign_23-2148908426.jpg?w=740&t=st=1694540984~exp=1694541584~hmac=0fa3b2a33ebc4355c47338a974c92b0610f0239a7fb97cbf35b883884baa59ab);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    width: 99%;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: -2;
  }

  .testimonial {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: relative;

    .carousel {
      max-width: 540px;

      .testimonial-body {
        border-radius: 10px;
        padding-inline: 50px;
        padding-block: 45px;
        text-align: center;
        height: 320px;
      }
    }

    .carousel-indicators {
      margin-bottom: -2rem !important;
      color: var(--primary);
    }

    .carousel-indicators [data-bs-target] {
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 16px;
      height: 14px;
      padding: 0;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #1d1d1d;
      background-clip: padding-box;
      border: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      transition: opacity 0.6s ease;
      border-radius: 90px;
    }
  }
}

/* ----NEWS---------- */
.news {
  margin-top: 25px;


  .p {
    background-color: var(--primary);
    color: #fff;
  }

  .card {
    border-radius: 0;
    height: 450px;
    width: 25.5rem !important;
    animation-name: left-right;

    .card-img {
      width: 100%;
      border-radius: 0;
      max-height: 200px;
      object-fit: cover;
    }
  }
}



/* Clients */

.clients {
  .img-contain {
    gap: 40px;

    .client-img-container {
      max-width: 170px;
      max-height: 120px;
      padding: 1rem;
    }
  }
}

.carousel-radio:hover {
  background-color: var(--primary);
}


.clients .clients-img {
  width: 18rem;
  height: 8rem;
  object-fit: cover;
  padding: 10px;

}

.clients .carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
  filter: invert(0) grayscale(100) !important;
}

.clients .carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(0) grayscale(100) !important;
}


/* footer */
.footer {
  box-shadow: 1px 1px 14px 2px rgb(0, 0, 0);
  font-family: 'Red Hat Display', sans-serif;

  .p,
  .d-block {
    font-family: 'Red Hat Display', sans-serif;
  }

  .copyright {
    font-family: 'Red Hat Display', sans-serif;
  }
}


/* Animation */
.card1 {
  animation-duration: 1s;
}

.card2 {
  animation-duration: .75s;
}

.card3 {
  animation-duration: .5s;
}


@keyframes low-high {
  0% {
    transform: scale(.4);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes left-right-opacity {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes left-right {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0%);

  }
}